*{
    margin: 0;
    padding: 0;
}
#main{
    position: relative;
}
.box{
    padding: 5px;
    float: left;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pic{
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.pic img{
    width: 150px;
    height:auto;
}
img:hover{
    transform:rotate(70deg);
}
