<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>林利私人工作室欢迎您</title>
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
</head>
<body>
<div id="time">5</div>
<div id="cat">
    <img src="{{ static_url('img/cat.jpg') }}">
</div>
<div id="welcome">
    <a href="/stream">欢迎进入展示区</a>
    <a href="/contact">欢迎进入联系专区</a>
</div>
<div class="foot">
    <p>目前已有20000+台车经过林利私人工作室的改造</p>
</div>
<script src="{{ static_url('js/index.js') }}"></script>
</body>
</html>  